@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/placeholders.scss' as *;

.title {
  margin-bottom: 22px;
  @include font(24px, 600, 1.67);

  @include mq(tablet) {
    margin-bottom: 24px;
    @include font(40px, 600, 1.4);
  }
}

.par {
  max-width: 260px;
  margin: 0 auto 60px;
  @extend %text-sm;
  text-align: center;

  @include mq(tablet) {
    max-width: 280px;
    @include font();
    margin-bottom: 80px;
  }
}
