@use '/src/styles/utils/mixins.scss' as *;

.radioLabel {
  display: flex;
  align-items: center;

  input {
    &:focus + .radioSquareWrapper {
      outline: auto;
      outline-offset: 2px;
      outline-color: var(--accent-cl);
    }
  }
}

.radioLabelSmallGap {
  gap: 20px;
}

.radioLabelLargeGap {
  gap: 12px;
  @include mq(desktop) {
    gap: 24px;
  }
}

.radioLabelFontWeight {
  font-weight: 400;
}

.radioLabelFontSizeSmall {
  font-size: 16px;
  line-height: 1.5;
}

.radioLabelFontSizeLarge {
  font-size: 18px;
  line-height: 1.5;
}

.radioSquareWrapper {
  min-width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid var(--placeholder-cl);

  @include flex(center, center);

  cursor: pointer;
}

.radioSquareWrapperError {
  border-color: var(--red-cl);
}

.radioCircleWrapper {
  width: 24px;
  height: 24px;

  cursor: pointer;
}
