@use '/src/styles/utils/mixins.scss' as *;
@use '/src/styles/utils/placeholders.scss' as *;

.title {
  margin-bottom: 22px;
  @include font(24px, 600, 1.67);

  @include mq(tablet) {
    margin-bottom: 36px;
    @include font(40px, 600, 1.4);
  }
}

.par {
  margin-bottom: 40px;
  @extend %text-sm;
  text-align: center;

  @include mq(tablet) {
    @include font();
  }
}

.blueLink {
  justify-content: center;
}
