@use '/src/styles/utils/placeholders.scss' as *;
@use '/src/styles/utils/mixins.scss' as *;

.title {
  margin-bottom: 28px;
  @extend %main-title;

  @include mq(tablet) {
    margin-bottom: 14px;
  }
}

.text {
  max-width: 345px;
  margin: 0 auto 40px;
  @extend %text-sm;
  text-align: center;

  @include mq(tablet) {
    min-width: 392px;
    @include font();
  }
}

.blueLink {
  justify-content: center;
  margin-bottom: 40px;

  @include mq(desktop) {
    margin-bottom: 52px;
  }
}

.linkText {
  margin-left: 4px;
}

.subText {
  text-align: center;
}
