@use '/src/styles/global.scss' as *;

.title {
  text-align: center;
  color: var(--primary-txt-cl);
}

.mainTitle {
  @extend %main-title;
}

.subTitle {
  @extend %title;
}

.accent {
  color: var(--accent-cl);
}
